:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-main: #ffffff;
  --color-title: #212121;
  --color-secondary: #2f303a;
  --color-btn: #188ce8;
  --color-logo: #000000;
  --color-subtext: #757575;
  --color-team: #f5f4fa;
  --color-icon: #c4c4c4;
  --section-pad: 94px;
  --border-header: #ececec;
  --border-icon: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.87;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--color-main);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}

.suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-subtext);
}

.logotype {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logotype-light-theme {
  color: var(--color-logo);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logotype-dark-theme {
  color: var(--color-main);
  margin-bottom: 25px;
  margin-top: 25px;
}

.logo-Web {
  color: var(--accent-color);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-main);
  fill: var(--border-icon);
  transition-property: all;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  fill: var(--color-main);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--color-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn {
  transition-property: all;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-btn,
.modal-close-btn:focus .close-btn {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: all;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: all;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  outline: none;
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-subtext);
}

.modal-form-user-message {
  height: 138px;
  margin-bottom: 20px;
}

.modal-form-user-title {
  height: 14px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-subtext);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  transition-property: all;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--color-subtext);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 1px;
  margin-right: 8px;
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/icons/check.svg);
  background-position: center;
  background-color: var(--accent-color);
  background-size: 11px 8px;
  background-repeat: no-repeat;
  border: none;
}

.modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 0.5px blue;
  transition-property: all;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 12px;
}

.btn-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.header {
  border-bottom: 1px solid var(--border-header);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  padding: 32px 0;
  transition-property: all;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-link-color {
  color: var(--color-title);
}

.nav-link-onclick-color {
  color: var(--accent-color);
  position: relative;
}

.nav-link-onclick-color::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.list-link {
  margin-right: 30px;
}

.icon-header {
  margin-right: 10px;
  fill: var(--color-subtext);
  transition-property: all;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover .icon-header,
.navigation-link:focus .icon-header {
  fill: var(--accent-color);
}

.block-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--color-secondary);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 30px;
  padding-left: 237px;
  padding-right: 237px;
  text-align: center;
}

.quality {
  padding-top: var(--section-pad);
  padding-bottom: var(--section-pad);
}

.quality-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.quality-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.block-icon {
  width: 270px;
  height: 120px;
  background-color: var(--color-team);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.work {
  padding-bottom: var(--section-pad);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work-block {
  position: relative;
}

.work-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-main);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.team {
  padding-top: var(--section-pad);
  padding-bottom: var(--section-pad);
  background: var(--color-team);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background: var(--color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block {
  padding: 30px 32px;
}

.name-team {
  font-weight: 500;
  line-height: 1.18;
  color: var(--color-title);
  text-align: center;
  margin-bottom: 10px;
}

.position-team {
  line-height: 1.18;
  color: var(--color-subtext);
  text-align: center;
  margin-bottom: 16px;
}

.client {
  padding-top: var(--section-pad);
  padding-bottom: var(--section-pad);
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--border-icon);
  fill: var(--border-icon);
  border-radius: 4px;
  transition-property: all;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover, .client-list-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-secondary);
}

.footer .container {
  display: flex;
}

.address-block-footer {
  width: 231px;
}

.footer-inline {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-main);
  transition-property: all;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover, .footer-list-link:focus {
  background: var(--accent-color);
}

.contact-list-item {
  justify-content: center;
  align-items: center;
  height: 21px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  width: 231px;
  height: 81px;
}

.footer-block-list {
  margin-left: 70px;
  width: 206px;
}

.foot-suptitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 20px;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-main);
  transition-property: all;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: var(--accent-color);
}

.tel-link-color {
  color: var(--color-subtext);
  transition-property: all;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link-color:hover, .tel-link-color:focus {
  color: var(--accent-color);
}

.tel-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-block-button {
  width: 570px;
  margin-left: 93px;
}

.action-footer-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-secondary);
  color: var(--color-main);
  line-height: 1.25;
  padding: 15px 16px;
  margin-right: 12px;
}

.action-footer-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.foot-form-size {
  display: flex;
  align-items: center;
}

.svg-color {
  fill: var(--color-main);
  margin-left: 10px;
}

.block-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */